@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');

.storyContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  opacity: 0;
  animation: letters 7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes letters {
  from {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.storyText {
  font-family: 'Cinzel';
  z-index: 90;
  color: #191100;
  text-shadow: 2px 2px 4px #FFFFFF;
  width: 70vw;
  font-size: 5vh;
  position: absolute;
}

.image3D {
  filter: blur(0px);
  /* background-blend-mode: color-burn; */
  animation: blur 7s;
}

@keyframes blur {
  from {
    filter: blur(12px);
  }

  75% {
    filter: blur(12px);
  }

  to {
    filter: blur(0px);
  }
}

.yellow {
  background-color: #dda900;
  mix-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 20;
  opacity: 0.27;
  margin: 0 auto;
}
