@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

.storyText {
  font-family: 'Sen';
  color: black;
  width: 50vw;
  font-size: 40px;
  text-shadow: 0 0 10px #fff;
  text-align: center;
  position: relative;
  z-index: 10;
  left: 25vw;
  top: 80vh;
}
