:root {
    --w:1920px;
    --h:960px;
}

* {
    padding: 0;
    margin: 0;
}

#main {
    width: var(--w);
    height: var(--h);
    overflow: hidden;
    background-color: cornflowerblue;
}

.frame {
    position: relative;
    top: calc(var(--h)/2);
    width: 100%;
    height: 100%;
    background-color: white;

    perspective: 250px;
    /* x / y => half screen with / sreen height*/
    perspective-origin: calc(var(--w)/2) 100px;
    /* Fluchtpunkt oben in der Mitte der Referenz-Box */
}

.content {
    position: absolute;
    margin-left: 400px;
    width: 1000px;
    height: 400px;
    background-color: cadetblue;
    z-index: 0;

    transform-style: preserve-3d;
    transform: rotate3d(1,0,0, 90deg) skewX(0deg); /* translateZ(-150px) */
}

.zImage {
    position: absolute;
    z-index: 4;
}







